<div class="navbar-container">
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">Home</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      Breadcrumb
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <div class="avatar-container">
    <img class="user-avatar" nz-dropdown [nzDropdownMenu]="menu2" nzPlacement="bottomRight" src="avatar" alt="" (click)="log()">
  </div>


  <nz-dropdown-menu #menu2="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>首页</li>
      <li nz-menu-item>
        <a href="https://github.com/ddddffggggggg/angular-litemall-admin" target="_blank">GitHub</a>
      </li>
      <li nz-menu-item>密码修改</li>
      <li nz-menu-item>退出登录</li>
    </ul>
  </nz-dropdown-menu>

</div>


